.app-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 40px;
}

.table-container {
  width: 90%;
  max-width: 1200px;

  background: white;
  padding: 30px;
  border-radius: 6px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th {
  background-color: #5f8f7a;
  color: white;
  padding: 14px;
  text-align: left;
}

.employee-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.pagination button {
  background-color: #5f8f7a;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.page-number {
  background-color: #4b7a67;
}