/* Remove Vite default restrictions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
}